.LandingPage {
  order: 1;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--base-size-24);
  min-height: max-content;
}

.ThemeSwitchLanding {
  align-self: flex-end;
  order: 0;
  position: absolute !important;
  top: var(--base-size-24);
  right: var(--base-size-24);
}

.MegaLogo {
  margin: 5rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10rem;
}

.MegaStackOverview {
  composes: Markdown from '../components/readme/Markdown.module.css';
  width: 100%;
  max-width: 50rem;

  p:first-of-type {
    font-weight: bold;
    color: var(--fgColor-default);
  }

  p {
    color: var(--fgColor-muted);
  }
}

.MegaStackCTA {
  composes: Markdown from '../components/readme/Markdown.module.css';
  display: flex;
  justify-content: center;
  font-size: 150%;
  margin: 4rem 0;

  pre {
    padding: var(--base-size-16) var(--base-size-24);
  }
}

.LandingLink {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-size-40);
  width: 100%;
  max-width: 50rem;
  border-top: 1px solid var(--borderColor-neutral-muted);
  border-bottom: 1px solid var(--borderColor-neutral-muted);
  padding: var(--base-size-40) 0;
  color: var(--fgColor-default);
  text-decoration: none;

  & + & {
    border-top: 0 none;
  }

  @media (min-width: 60rem) {
    flex-direction: row;
    transition: color 200ms;

    &:before {
      content: '';
      position: absolute;
      inset: -1px calc(var(--base-size-24) * -1);
      background-color: var(--bgColor-muted);
      opacity: 0;
      pointer-events: none;
      transition: opacity 200ms;
      border-radius: var(--base-size-24);
    }
    &:hover {
      color: var(--fgColor-accent);

      &:before {
        opacity: 1;
      }
    }
  }
}

.LandingLinkLogo {
  position: relative;
  flex: 0 0 auto;
  width: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.Overview {
  composes: Markdown from '../components/readme/Markdown.module.css';
  position: relative;
  flex: 1 1 auto;
  min-width: 0;

  p:first-of-type {
    font-weight: var(--base-text-weight-semibold);
  }

  ul,
  ol {
    padding-left: 0 !important;
    list-style: none;
    color: var(--fgColor-muted);
  }
}

.LandingFooter {
  display: flex;
  justify-content: center;
  margin: 5rem 0;

  a {
    display: block;
    padding: 0.8rem 1.6rem 0.85rem;
    border-radius: 2rem;
    background-color: var(--bgColor-muted);
    color: var(--fgColor-accent);
    text-decoration: none;
  }
}
