.ThemeSwitch {
  --transition-duration: 200ms;

  --track-height: 1.75rem;
  --track-width: calc((var(--base-size-24) + var(--knob-offsetY)) * 2);
  --track-bgColor: var(--borderColor-muted);

  --knob-offsetY: 0.15rem;
  --knob-offsetX: var(--knob-offsetY);
  --knob-height: calc(var(--track-height) - var(--knob-offsetY) * 2);
  --knob-width: var(--knob-height);
  --knob-bgColor: var(--fgColor-muted);
  --knob-fgColor: #fff;

  flex: 0 0 auto;
  display: block;
  position: relative;
  padding: 0;
  height: var(--track-height);
  width: var(--track-width);
  border-radius: 1000px;
  border: none;
  background-color: var(--track-bgColor);
  outline: none;
  transition: background-color var(--transition-duration);

  &:before {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: var(--knob-offsetX);
    top: calc((var(--track-height) - var(--knob-height)) / 2);
    border-radius: 1000px;
    background-color: var(--knob-bgColor);
    color: var(--knob-fgColor);
    height: var(--knob-height);
    width: var(--knob-width);
    transition-property: left, width, background-color;
    transition-duration: var(--transition-duration);
    pointer-events: none;
  }
}

.ThemeLight:before {
  content: '●';
}

.ThemeDark:before {
  content: '☾';
  left: calc(var(--track-width) - var(--knob-width) - var(--knob-offsetX));
}

.ThemeAuto {
  --track-bgColor: var(--borderColor-muted);
  --knob-bgColor: transparent;
  --knob-fgColor: var(--fgColor-muted);

  &:before {
    content: 'AUTO';
    font-size: 0.8rem;
    width: calc(var(--track-width) - 2 * var(--knob-offsetX));
  }
}

.FocusVisible {
  outline: 2px solid var(--focus-outlineColor);
}
