@import 'normalize.css';
@import 'github-markdown.css';

/* Dark-light backgrounds */
[data-theme='light'] [style*='--light-background-image:'] {
  background-image: var(--light-background-image);
}

[data-theme='dark'] [style*='--dark-background-image:'] {
  background-image: var(--dark-background-image);
}

/* Scroll */
:root {
  --scroll-padding-top: 0;

  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding-top) 0 0 0;
}
