:root {
  --drawer-bgColor: var(--bgColor-default);
}

.Drawer {
  position: absolute;
  background-color: var(--drawer-bgColor);
}

.AlignStart {
  top: 0;
  bottom: 0;
  left: 0;
}

.AlignEnd {
  top: 0;
  bottom: 0;
  right: 0;
}
