:root {
  --readme-toc-icon-width: 1.8rem;
  --readme-article-max-width: 60rem;
  --readme-header-height: 4.75rem;
  --readme-sidebar-width: 20rem;
  --readme-sidebar-nav-bgColor: rgba(246, 248, 250, 0.3);
  --readme-drawer-toggle-size: 2.3rem;
  --readme-drawer-shadowColor: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  --readme-sidebar-nav-bgColor: rgba(21, 27, 35, 0.3);
  --readme-drawer-shadowColor: rgba(0, 0, 0, 0.5);
}

:root:has(.Readme) {
  --scroll-padding-top: calc(var(--readme-header-height) + var(--base-size-24));

  @media (min-width: 60rem) {
    --scroll-padding-top: var(--base-size-24);
  }
}

.Readme {
  flex: 1 1 auto;
  min-height: fit-content;
  min-width: 0;

  &:after {
    content: '';
  }
}

.MegaLogo {
  flex: 0 0 auto;
  height: 1.75rem;
  aspect-ratio: 862 / 317;
  background-repeat: no-repeat;
  background-size: cover;
}

.Article {
  composes: markdown-body from global;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  max-width: var(--readme-article-max-width);
  min-height: fit-content;
  margin: var(--base-size-24);
}

.MobileArticleLogo {
  max-width: 100%;
  margin-bottom: var(--base-size-24);
}

.ArticleBody {
  max-width: 100%;
}

.HideScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:global(.toc-icon) {
  display: inline-block;
  white-space: nowrap;
  width: var(--readme-toc-icon-width);
}

.TOC {
  composes: markdown-body from global;

  padding: 0 var(--base-size-24) var(--base-size-24);

  & > ul {
    padding-inline-start: var(--readme-toc-icon-width);

    & > li {
      list-style: none;
    }
  }
}

.Sidebar {
  composes: HideScrollbar;

  flex: 0 0 var(--readme-sidebar-width);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: scroll;
  background-color: var(--bgColor-muted);
}

.SidebarNav {
  position: sticky;
  top: 0;
  background-color: var(--readme-sidebar-nav-bgColor);
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(to bottom, black calc(100% - 2rem), transparent 100%);
}

.SidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--base-size-24);
  height: var(--readme-header-height);
}

.SidebarLogo {
  padding: 0 var(--base-size-24) 2.5rem;
}

.Version {
  padding-top: var(--base-size-8);
  color: var(--fgColor-muted);
}

.MobileHeader {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: var(--base-size-24);
  padding: 0 var(--base-size-24);
  height: var(--readme-header-height);
  background-color: var(--bgColor-neutral-muted);
  backdrop-filter: blur(10px);
}

.MobileDrawer {
  composes: HideScrollbar;
  max-width: min(calc(100vw - var(--base-size-24)), var(--readme-sidebar-width));
  overflow: scroll;
  box-shadow: 0 0 var(--base-size-24) var(--base-size-24) var(--readme-drawer-shadowColor);
}

.MobileDrawerHeader {
  composes: MobileHeader;

  position: sticky;
  top: 0;
  padding: var(--base-size-8) var(--base-size-24);
  justify-content: flex-end;
  background-color: var(--bgColor-neutral-muted);
  backdrop-filter: blur(10px);
}

.MobileThemeSwitch {
  margin-left: auto;
}

.MobileDrawerToggleButton {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--readme-drawer-toggle-size);
  width: var(--readme-drawer-toggle-size);
  padding: 0;
  border-radius: 1000px;
  background: transparent none;
  border: 1px solid var(--fgColor-accent);
  color: var(--fgColor-accent);
  outline: 0 none;

  &.KindOpen:before {
    content: 'Ⲷ';
  }

  &.KindClose:before {
    content: '←';
  }

  &.FocusVisible {
    background-color: var(--fgColor-accent);
    color: #fff;
  }
}

.MobileTOC {
  composes: TOC;

  padding: var(--base-size-24);
}

/* Responsiveness */

.Sidebar {
  display: none;
}

@media (min-width: 60rem) {
  .Readme {
    display: flex;
  }
  .Sidebar {
    display: block;
  }
  .MobileHeader,
  .MobileArticleLogo {
    display: none;
  }
}

@media (min-width: 100rem) {
  .Readme {
    justify-content: space-between;
    margin-right: var(--readme-sidebar-width);
  }
}
